{% extends 'Base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
  
  

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="max-width: 1500px; margin: auto;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/students1.jpg' %}" class="d-block w-100" alt="Slide image" style="width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white; font-size: xx-large;"><b>About US</b></h5>
        <p style="color:blue;">Your descriptive text goes here, overlaying the image.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}